<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

  <properties resource="mybatis/jdbc.properties"/> <!-- 引入外部配置文件 , 路径写绝对路径,前面不带/-->
  
  <typeAliases> <!-- 顺序不能变 -->
    <typeAlias type="beans.Person" alias="person"/>
  </typeAliases>

  <environments default="development"><!-- 配置连接数据库 -->
    <environment id="development">
      <transactionManager type="JDBC"/>  <!-- 由jdbc的连接管理事务 -->
      <dataSource type="POOLED">         <!-- 配置数据源 -->
        <property name="driver" value="${driverClass}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers><!-- sql映射文件(封装结果集和动态sql形成) -->
    <mapper resource="beans/person.xml"/> <!-- 绝对路径,前面不带/ -->
    <mapper resource="beans/Order.xml"/> 
  </mappers>
  
  
</configuration>